* {
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
}

.btn {
    width: 18rem;
    height: 5rem;
    border: 2px solid #000000;
    border-radius: 2.5rem;
    font-size: 2.3rem;
    color: white;
    background: #8B64DC;
    margin-top: 3rem;
}

#btn1 {
    background: #1F71B9;
    margin-right: 1.5rem;
}

#btn3 {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 9rem;
    height: 3.7rem;
    font-size: 2rem;
    display: none;
    
}

/************************ section one or first section *********************/

/* for top section that has logo navigation bar  */
#top-section {
    position: absolute;
    width: 100%;
    height: 12rem;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 5rem 0 5rem;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-image {
    width: 8rem;
    height: 8rem;
}

#logo-name {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 1.5rem;
    color: white;
}

#navigation {
    margin-top: 4.5rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: white;
}

#menu-bar {
    display: none;
}



/* bottom section with some heading and image of web net */

#section1 {
    width: 100%;
    height: 60.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: radial-gradient(51.02% 161% at -3.88% -3.19%, 
                                #5C53AB 0%, #192337 100%)
}

#left-section {
    width: 61rem;
    color: white;
    margin-top: 20%;
    padding-left: 5rem;
}
#shani {
    font-size: 5.5rem;
    font-weight: 400;
    display: block;
}
#left-section h2 {
    font-weight: 400;
    font-size: 4rem;
}

#left-section p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#right-section {
    width: 62rem;
    margin-left: 20px;
}

#header-image {
    overflow: hidden;
}


/************************ section two or second section *********************/
#section2 {
    position: relative;
    width: 100%;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    align-items: center;
    padding: 0;
}

#heading-for-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#heading-for-projects h2{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}
#heading-for-projects p{
    margin: 0;
    margin-top: 1rem;
    width: 80.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
}

#projects {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    padding: 5rem;
}

#projects div {
    width: 25rem;
    height: 25rem;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
}

#project1 {
    background-color: #7674E5;
}
#project2 {
    background-color: #6B85EF;
}
#project3 {
    background-color: #A26FF5;
}
#project4 {
    background-color: #D687E3;
}

/* project info */
.project-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
}
.project-info {
    width: 25rem;
    border-radius: 5rem 5rem 0 0;
}
.project-title {
    padding: 0;
    margin: 0;
    width: 25rem;
    border-radius: 0 0 5rem 5rem;
}

#project-title1 {
    background: #5654E4;
}
#project-title2 {
    background: #4868E9;
}
#project-title3 {
    background: #8D4FF3;
}
#project-title4 {
    background: #C854DB;
}

/******************** for responsiveness of website *******************/

/* section one or first section  */

/* midrange devices */
@media (max-width: 1235px) and (min-width: 1105px){
    html {
        font-size: 9px;
    }
}
@media (max-width: 1106px) and (min-width: 980px){
    html {
        font-size: 8px;
    }
}

    /******************** for section one or first section *******************/

/* lower screen devices */
/* at 979px */
@media (max-width: 979px) {
    html {
        font-size: 9px;
    }

    #top-section {
        grid-template-columns: 90% 10%;
    }

    .nav-menu {
        display: none;
    }

    #menu-bar {
        display: block;
    }

    #section1 {
        height: 108rem;
        background: linear-gradient(161.29deg, #182236 
                                74.04%, #5C52AC 137.61%);
    }

    #left-section {
        grid-column: 1/3;
        transform: translate(0,-10%);
        width: 100%;
        padding-right: 9rem;
        margin-top: 0;
    }
    

    /* for image that is in right side */
    #header-image {
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: 6rem;
    }
    #right-section {
        width: 60rem;
    }
}

@media (max-width: 780px){
    #logo-name {
        font-size: 3rem;
    }
}

@media (max-width: 550px){
    #right-section {
        width: 50rem;
    }
}

/* at 460px  */
@media (max-width: 460px){  
    html {
        font-size: 9px;
    }

    #btn1 {
        display: block;
    }
    #right-section {
        width: 40rem;
    }
    #logo-name {
        font-size: 3.5rem;
    }
    #shani {
        font-size: 4.5rem;
    }
    #left-section h2 {
        font-size: 4rem;
    }
}

@media (max-width: 330px){
    #right-section {
        width: 30rem;
    }
    #left-section {
        transform: translate(0,-10px);
    }
}



    /******************** for section two or second section *******************/

@media (max-width: 979px) {
    #projects div {
        width: 23rem;
        height: 23rem;
    }

    #btn3 {
        display: block;
    }

    .project-info {
        width: 23rem;
    }
    .project-title {
        width: 23rem;
    }

    #heading-for-projects h2 {
        text-align: center;
        padding: 5rem 5rem 0 5rem;
        font-size: 2.8rem;
    }
    #heading-for-projects p {
        text-align: center;
        width: 90%;
        font-size: 1.8rem;
    }

    #projects div {
        margin-top: 4rem;
    }
    #project1 {
        margin-top: 0;
    }
    #project4 {
        display: none;
    }
}

@media (max-width: 780px) {
    #project3 {
        display: none;
    }
}

@media (max-width: 560px){
    #section2 {
        height: 800px;
        grid-template-rows: 20% 80%;
    }
}